.enviar{
    width: 30%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(119, 102, 70);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

/*Fin Recien Agregado*/
.logo{
    background: #400000;
    height: 100%;
    width: 70px;
}
body{
    width: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFB333;
    opacity: 0.95;
}

/* Texto css*/
h1{
    font-size: 34px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}
p,a{
    font-family: 'Lato', sans-serif;
}

h3{
    font-size: 25px;
}

h4, label, p{
    font-size: 21px;
}
/* Fin de Texto Css*/
/*Formulario*/

.formulario{
    padding: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #000000;
    margin: 5px;
}
.input-text{
    display: flex;
    width: 30%;
}
.input-text, textarea{
    resize: none;
}
form label{
    display: block;
}
.select-input{
    width: 30%;
}
.enviar{
    margin-top: 10px;
    align-self: center;
    display: flex;
}
/*Division*/
.division{
    display: flex;
    margin: 20px;
    justify-content: center;
    
}
.division-contenedor{
    display: flex;
    padding: 5%;
    justify-content: space-between;
    width: 100%;
}

.div1{
    gap: 1em;
}

.division-frase{
    text-align: center;
    font-size: 21px;
    color: #FFFFFF;
}
.division-imagen{
    height: 120px;
    width: auto;
}
#uno{
    width: 134px;
    height: 120px;
    border-radius: 35px;
}
#dos{
    width: 135px;
    height: 120px;
    border-radius: 35px;
}
#tres{
    background-color: #FFFFFF;
    width: 135px;
    height: 120px;
    border-radius: 35px;
}
.l-rs{
    text-decoration: none;
    align-items: center;
    color: #FFFFFF;
}
.l-rs:hover{
    color: aqua;
}
/*Fin Division*/
/* Mapa */
.mapa{
    margin: 15px;
    padding: 2px;
    display: flex;
    align-items: flex-end;
}
.mp-rs{
    width: 150px;
    height: 150px;
    
}
.txt-mapa{
    width: 12%;
    font-size: 21px;
    font-weight: bold;
    text-align: justify;
}
/* Fin Mapa*/
/* Footer */
.pie-pagina {
    background-color: #400000;
    color: #fff;
    padding: 10px;
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.pie-pagina .logo-pie {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .logo-pie img {
    width: 180px;
}

.txt-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-rs{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    padding: 3px;
}
/*Fin Footer*/