h1{
    font-size: 34px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
}
h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}
p,a{
    font-family: 'Lato', sans-serif;
}

.cont{
    margin: 12px;
    padding: 6px;
    box-sizing: border-box;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 21px;
}

.ima{
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
}
.vid{
    display: flex;
    align-items: center;
}
.de{
    color: rebeccapurple;
    float: left;
    font-size: 18px;
}

.iz{
    color: rebeccapurple;
    float: right;
    font-size: 18px;
}