*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* nav{
    background: #4D0000;
    opacity: 0.95;
    height: 100px;
    width: 100%;
} */
header{
    background-color: #4D0000;
}

li a.active, li a:hover{
    background: #e47105;
    transition: .5s;
}

